<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emails that are Valid</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">

    <h1>The email you entered - {{your_email}}, is acceptable.</h1>
    <h2>Email entered:</h2>
    <div class='row'>
        <table style="width:100%" class="table table-bordered text-left">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Put in the DB @</th>
                    <th>Remove from DB</th>
                </tr>
            </thead>
            <tbody>
                {% for email in emails %}
                <tr>
                    <td>{{email.email}}</td>
                    <td>{{email.created_at}}</td>
                    <td><a href="/destroy/{{email.id}}/"><button class="btn btn-primary">Delete</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/"><button class="btn btn-primary">return</button></a>

</div>
</body>

</html>
